/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
  }
  